/* #soccer-page {
  position: initial; 
} */

.circular {
  margin: 10px;
  margin-left: 30px;
  width: 70px; /* Set the width and height to control the size of the circle */
  height: 70px;
  background-color: white; /* Set the background color for the circle */
  border-radius: 50%; /* Use border-radius with 50% value for a circle */
  display: flex;
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
  font-weight: bold;
  font-size: 25px;
}

#h1 {
  text-align: center;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 20px;
}

#h2 {
  text-align: center;
  font-size: 30px;
}

.interview_header {
  font-weight: bold;
}

#p {
  font-size: 20px;
  padding: 35px 40px 40px;
}

.soccerPageContainer {
  background-color: beige;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.soccerPageContainer.light {
  background-color: beige;
}

.soccerPageContainer.dark {
  background-color: lightgreen;
}

.container-soccer {
  background-color: white;
  padding: 35px 40px 40px;
}

.inner-container {
  margin-top: 20px;
  padding: 30px 30px 30px 50px;
  background-color: green;
  height: 150px; /* Fixed height */
  width: auto;
}

.details-container {
  z-index: 10;
  background-color: #5fc7de;
  width: 600px;
  height: 600px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  border-radius: 15%;
  border: 7px solid white;
}

.player-container {
  /* position: fixed; */
  margin: 10px;
  width: 200px;
}

.player-container img {
  width: auto;
  height: 200px;
}

.player-container:hover .PopUp {
  display: block;
}
/* 
.player-container:nth-child(1) {
  top: 36vh;
  left: 80vw;
}

.player-container:nth-child(2) {
  top: 36vh;
  left: 65vw;
}
.player-container:nth-child(3) {
  top: 36vh;
  left: 50vw;
}
.player-container:nth-child(4) {
  top: 37vh;
  left: 35vw;
}
.player-container:nth-child(5) {
  top: 36vh;
  left: 22vw;
}
.player-container:nth-child(6) {
  top: 36vh;
  left: 10vw;
}
.player-container:nth-child(7) {
  top: 36vh;
  left: 5vw;
}
.player-container:nth-child(8) {
  top: 36vh;
  left: 0vw;
} */
