#soccer-page {
  position: relative;
}

.circular {
  width: 70px;
  height: 70px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 25px;
  border: 2px solid black;
  transition: opacity 0.3s; /* Add a smooth transition for opacity changes */
  cursor: pointer; /* Add a pointer cursor to indicate interactivity */
}

.circular.chosen {
  opacity: 1; /* Full opacity for chosen circles and on hover */
}

.circular.unchosen {
  opacity: 0.3; /* Lower opacity for unchosen circles */
}

.soccerPageContainer {
  display: flex;
  flex-direction: column;
  background-color: #f46f01;
  min-height: 100vh;
}

.soccerPageContainer.light {
  background-color: #f46f01;  
}
.soccerPageContainer.dark {
  background-color: #6db926;
}

.soccerPageContainer-inner{
  display:flex;
  margin: 0px;
  justify-content: center; 
}

.basketball-field-left{
  width: 100%;
  display: flex; 
  justify-content: center;
  align-items: center;   
}

.basketball-field-right{
  width: 100%;
  display: flex; 
  justify-content: center; 
  align-items: center;   
}

.container-soccer {
  /* flex: 1; */
  gap: 1rem;
  background-color: white;
  max-width: 900px;
  margin-right: 0px;
  margin-left: 0px;
  margin-right: auto;
  margin-left: auto;

}

#h1-soccer {
  font-family: "Roboto Slab", serif;
  font-size: 50px;
  text-align: center;
  margin: 40px 0px 20px;
}

#h2 {
  font-size: 30px;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto Slab", serif;
  margin: 0px 0px 20px;
  text-align: center;
}

.inner-container {
  display: inline-flex;
  width: inherit;
  justify-content: center;
  height: 170px; /* Fixed height */
  margin-top: 20px;
  background-color: rgb(240, 238, 238);
  align-items: center;
}

.row1 {
  display: flex;
  gap: 20px;
  align-items: center;
  margin: 15px ;
}

.scroll-row {
  flex-wrap: nowrap;
  overflow-x: auto;
  margin-bottom: 5px;
  white-space: nowrap;
}

.col1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  min-width: max-content;
  /* flex-wrap:wrap; */
  /* height: 80px; */
}

.ball_num {
  font-family: "Open Sans", sans-serif;
}

.step-name {
  color: black;
  font-weight: normal;
  font-size: 14px;
  margin-bottom: 10px;
}

.container-interview {
  display: flex;
  justify-content: center;
}

.interview-info {
  text-align: center; /* Center the text horizontally */
  line-height: 4; /* Adjust the line height for spacing */
}

img {
  margin-right: 10px;
}

.step-header {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  /* display: inline-block; */
  margin-right: 5px;
}

.where {
  padding: 0%;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn.btn-link {
  /* Your CSS styles for buttons with both "btn" and "btn-link" classes */
  background-color: whitesmoke;
  border: 1px solid white;
  color: #04abcc;
  font-size: large;
}

.text-container {
  display: inline-block;
  vertical-align: middle; /* Adjust as needed to align text vertically with the image */
  margin-left: 10px; /* Adjust the spacing between the image and text */
}

