.App {
  text-align: center;
}

.App-logo {
  /* Here Rony need to make adjusments to different sites of screens*/
  margin-bottom: 10px;
  height: 40vmin;
  pointer-events: none;
  z-index: 10;
  margin-bottom: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 94vh;
  margin-bottom: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(40px + 2vmin);
  color: white;
  position: static;
  font-family: "Lucida Console", "Courier New", monospace;
  z-index: 15;
}

.MainHeader {
  margin-top: 0px;
  margin-bottom: 60px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn {
  background-color: #04abcc;
  border-color: #04abcc;
}

.dark_mode{
  display: flex;

}

/* .horizontal {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
} */

/* .vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
} */

.soccer-field {
  height: 100%;
  /* width: 100%; */
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  /*מפה הוספתי*/
  position: absolute; /* Position this element absolutely within the container */
  top: 0; /* Adjust the top position as needed */
  left: 0; /* Adjust the left position as needed */
}

.basketball-field {
  height: 100%;
  /* width: 100%; */
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}
