.overlay-image_1 {
  position: absolute; /* Position this element absolutely within the container */
  top: 25vh; /* Adjust the top position as needed */
  right: 10vh; /* Adjust the left position as needed */
  left: 55vh;
  /* width: 7%; 
  height: 20%;  */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1; /* Adjust the opacity as needed for the overlay image */
}
.overlay-image_2 {
  position: absolute; /* Position this element absolutely within the container */
  top: 65vh; /* Adjust the top position as needed */
  right: 10vh; /* Adjust the left position as needed */
  left: 140vh;
  /* width: 5.5%; 
  height: 20%;  */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1; /* Adjust the opacity as needed for the overlay image */
}
.overlay-image_3 {
  position: absolute;
  top: 68vh;
  right: 10vh;
  left: 40vh;
  /* width: 5.5%; 
  height: 20%; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
}
.overlay-image_4 {
  position: absolute;
  top: 15vh;
  right: 10vh;
  left: 110vh;
  /* width: 12.5%; 
  height: 20%;  */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
}
.overlay-image_5 {
  position: absolute;
  top: 55vh;
  right: 10vh;
  left: 90vh;
  /* width: 9%; 
  height: 20%;  */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
}
.overlay-image_6 {
  position: absolute;
  top: 35vh;
  right: 10vh;
  left: 160vh;
  /* width: 5.5%; 
  height: 20%;  */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
}
.overlay-image_7 {
  position: absolute;
  top: 35vh;
  right: 10vh;
  left: 10vh;
  /* width: 5.5%;
  height: 20%;  */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
}
/* 
.responsive-image {
  max-width: 100%;
  height: auto;
} */
