.App {
  text-align: center;
}

.App-logo {
  margin-bottom: 10px;
  height: 40vmin;
  pointer-events: none;
  z-index: 10;
  margin-bottom: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 94vh;
  margin-bottom: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(40px + 2vmin);
  color: white;
  position: static;
  font-family: "Lucida Console", "Courier New", monospace;
  z-index: 15;
}

.MainHeader {
  margin-top: 0px;
  margin-bottom: 60px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn {
  background-color: #04abcc;
  border-color: #04abcc;
}

.dark_mode {
  display: flex;
}
